<%- include("partial/header.ejs") %>
<!-- Facility Section -->
<section class="facility" id="facility">

    <div class="facility-container">
        <h2>Our Facilities</h2>

        <ul class="facility-list">
            <li>High-Speed Wi-Fi Connectivity</li>
            <li>Reliable Power Backup System</li>
            <li>Target-Focused and Distraction-Free Environment</li>
            <li>Secure and Convenient Parking Area</li>
            <li>Complimentary Hot & Cold Drinking Water</li>
        </ul>
    </div>

</section>

<%- include("partial/footer.ejs") %>